spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
      mode: always
  jpa:
    hibernate:
      ddl-auto: create  # (1) 스키마 자동 생성
    show-sql: true      # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        color-codes: true
        use_sql_comments: true
    defer-datasource-initialization: true  # 데이터소스 초기화 지연 설정. JPA의 초기화 설정을 마칠때까지 데이터소스 사용을 지연시킨다.
    #    open-in-view: false
    output:
      ansi:
        enabled: ALWAYS
  logging:
    level:
      org:
        hibernate:
          #        SQL: debug           # jpa 설정에서 쿼리를 보여주므로 필요 없음.
          type:
            descriptor:
              sql:
                BasicBinder: trace